@import "../../assets/global.scss";
li.portfolioList {
  min-height: max-content;
  font-size: 14px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  &.active {
    background-color: $mainColor;
    color: white;
  }
}